/* .nav1{
    background-color: black; */
/* } */
.background{
    background-image: url(/home/traningbatchmarch2023/Portfolio/bkg.jpg);
}
.nav-link{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight:100;
    color: white;
}
.navbar-brand img{
    width: 60px;
    height: 60px;
    }

a:hover.nav-link{
    color:green;
}

.collapse{
flex-grow: 0;
}
.collapse li{
    padding-left:20px;
}
.con{
    font-family: 'Dancing Script', cursive;
    font-family: 'PT Serif', serif;
    font-style: italic;
    padding-top:200px ;
    padding-bottom: 200px;
    color: whitesmoke;
    height: 600px;
    
}
.con h1{
    font-size: 3rem;
}


