body{
font-family: 'Poppins', sans-serif;
}
.nav1{
    background-color: #1b262c;
    /* background-image: url(/home/traningbatchmarch2023/Portfolio/bkg.jpg); */

 }
 .navbar a:hover::before {

     content: '';
     display: block;
     position: absolute;
     width: 100%;
     height: 2px;
     background-color:rgb(53, 140, 183);
     bottom: -3px;
     left: 0;
 }
/* .background{
    background-image: url(/home/traningbatchmarch2023/Portfolio/bkg.jpg);
} */
.nav-link{
    font-size: 20px;
    font-weight:100;
    color:white;
}
.navbar-brand img{
    width: 60px;
    height: 60px;
    }

a:hover.nav-link{
    color:rgb(53, 140, 183);
    text-underline-position: below ;
}


.collapse{
flex-grow: 0;
}
.collapse li{
    padding-left:20px;
}
.con{
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;
    color: white;
    background-color: #288990;
    /* padding-top:20px ; */
}
.con h1{
    font-size: 4rem;
    font-weight: 600;
    padding-top: 20px;
}
.con h5{
    font-size: 1.5rem;
}
.con span{
    color: orange;
}
.con1{
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    height: 100vh;
    /* margin-top: ; */

}
.con1 h2{
    font-size: 2.8rem;
    font-weight: 700;
    color:#288990 ;
}
.con1 p{
    padding-top: 10px;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    text-indent: 40px;
}
.con1 span{
    font-size: 26px;
   font-weight: 700;
    color: orange;
}
.con2{
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;
}


.home{
    color:black;
}


/* .about{
    height: 100vh; */


.education{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
  
}
/* .edu{
    padding-bottom: 70px;
} */
.text1{
    background-color:#288990;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    height:250px;
}
.text2{
    background-color: #1b262c;
    color: white;
    height:250px;
    padding-top: 10px;
}
.text3{
    background-color:#288990;
    /* border: 1px solid rgb(63, 61, 61); */
    color: white;
    height:250px;
    padding-top: 10px;
}
.firstimg img{
    border-radius: 50%;
    background-color: white;
    height: 300px;
    width: 300px;
}
.secimg img{
    border-radius: 50%;
    /* border:3px solid #288990; */
    background-color: #288990;
    height: 300px;
    width: 300px;
    
}



